@avantodev:registry=https://CA_DOMAIN-067435599643.d.codeartifact.AWS_REGION.amazonaws.com/npm/CA_REPOSITORY/
//CA_DOMAIN-067435599643.d.codeartifact.AWS_REGION.amazonaws.com/npm/CA_REPOSITORY/:always-auth=true
registry=https://registry.yarnpkg.com/